<template>
    <div>
        <b-container>
            <h3 class="ml-2 mb-4">Postulaciones</h3>
            <b-row>
                <b-col v-for="postulant in postulants" :key="postulant.id" md="6" lg="4">
                    <b-card class="mb-3" style="max-width: 20rem;">
                        <template v-slot:header>
                            <h4 class="mb-0">{{postulant.name}}</h4>
                        </template> 
                        <b-card-text>Carreras postuladas:
                            <ul class="p-0 ml-4">
                                <li v-for="career in postulant.careersSelected.split(',')" :key="career.id">
                                    {{career}}
                                </li>
                            </ul>
                        </b-card-text>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
        
    </div>
</template>

<script>
import axios from "axios";
export default {
    name: 'Applicants',
    data(){
        return {
            postulants: '',
            test: 'gg'
        }
    },

    methods: {
        async getPostulants(){
            // let datos = await axios.get('http://localhost:8080/postulant/list').then((response) => {
            //     console.log(response.data);
            //     this.postulants = response.data;
            // }).catch((error) => {
            //     console.log(error)
            // });
            let postulantData = await axios.get('http://localhost:8080/postulant/list');
            this.postulants = postulantData.data;
        },

        getPostulantCareers(postulant){
            let careers = postulant.careersList.split(",");
            // List<String> careersList = new ArrayList<String>();
            // careersList = Arrays.asList(careers);
            return careers;    
        }
    },

    created (){
        this.getPostulants()
    }
}
</script>