<template>
    <div class="mr-5 ml-5">
        <b-container fluid>
            <h3 class="ml-2 mb-4">Postule en alguna de las siguientes carreras</h3>
            <b-row>
                <b-col cols="10" md="11" lg="11" sm="11">
                    <b-row>
                        <b-col class="mb-4" md="12" lg="6" v-for="career in careers" :key="career.id">
                            <b-card no-body>
                                <template v-slot:header>
                                    <h4 class="mb-0">{{career.name}}</h4>
                                </template>

                                <b-card-body>
                                    <b-card-sub-title class="mb-2">Puntajes Ponderados 2020</b-card-sub-title>
                                    <b-card-text>
                                        Mínimo postulación: {{career.pm}}<br />
                                        Primer seleccionado: {{career.pf}}<br />
                                        Último seleccionado: {{career.pl}}<br />
                                    </b-card-text>

                                </b-card-body>

                                <button-career :currentCareer="career" :currentUser="career" />
                            </b-card>
                        </b-col>                
                    </b-row>
                </b-col>

                <b-col cols="2"  md="1" lg="1" sm="1" class="text-center">
                    <b-row class="mt-2 mb-3">
                        <b-button variant="primary" @click="send">Postular</b-button>
                    </b-row>
                    <b-row>
                        <b-button variant="danger" @click="restart">Reiniciar</b-button>
                    </b-row>
                </b-col>
            </b-row>

            <b-row>
                <b-button block size="sm" @click="scrollToTop">Volver al principio</b-button>
            </b-row>
            
            <b-modal v-model="modalShowS" ref="modalS" title="Sistema de Postulación" @ok="handleOkSend" :centered="true">
                ¿Está seguro que quiere <b>postular</b> a las carreras seleccionadas?
            </b-modal>
            <b-modal v-model="modalShowR" ref="modalR" title="Sistema de Postulación" @ok="handleOkRestar" :centered="true">
                ¿Está seguro que quiere <b>borrar</b> todas las carreras seleccionadas?
            </b-modal>
        </b-container>
    </div>

</template>

<script>
import ButtonCareer from '../components/ButtonCareer.vue';
import {mapState, mapMutations} from 'vuex';
import axios from "axios";
export default {
    name: 'Careers',
    data(){
        return {
            modalShowR: false,
            modalShowS: false
        }
    },

    components: {
        ButtonCareer
    },

    computed: {
        ...mapState(['careers', 'careersSelected', 'currentUserLocal'])
    },

    methods:{
        ...mapMutations(['cleanCareerSelected', 'logOutUser']),

        restart(){
            if(this.careersSelected.length == 0){
                return
            }
            this.modalShowR = true
        },

        handleOkRestar(){
            this.cleanCareerSelected();
            location.reload();
        },

        send(){
            if(this.careersSelected.length == 0){
                return
            }
            this.modalShowS = true
        },

        handleOkSend(){
            axios.post('http://localhost:8080/postulant/create',{
                name: this.currentUserLocal.name,
                rut: this.currentUserLocal.rut,
                birthDate: this.currentUserLocal.birthDate,
                careersSelected: this.careersSelected,
            });
            this.logOutUser();
            location.reload();
        },

        scrollToTop() {
            window.scrollTo(0,0);
        }
    },    
}
</script>