<template>
    <div>
        <b-container>
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
               
                <b-form-group label="Nombre:" label-for="input-1">
                    <b-form-input id="input-1" v-model="form.name" required placeholder="Ingrese su nombre"></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="RUT:" label-for="input-2">
                    <b-form-input id="input-2" v-model="form.rut" required placeholder="Ej. 12345678-9"></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="Fecha de Nacimiento" label-for="input-3">
                    <b-form-datepicker id="input-3"
                        v-model="form.birthDate"
                        :max="max"
                        :min="min"
                        placeholder="Selecciona una fecha"
                        locale="en"
                        :start-weekday="1"
                        :show-decade-nav="true">
                     </b-form-datepicker>
                </b-form-group>

                <b-container class="text-center mt-4">
                    <b-row>
                        <b-col>
                            <b-button type="submit" variant="primary" block>Registrarse</b-button>
                        </b-col>
                        <b-col>
                            <b-button type="reset" variant="danger" block :to="{name: 'Careers'}">Cancelar</b-button>
                        </b-col>
                    </b-row>
                </b-container>
            </b-form>
      </b-container>
    </div>
</template>

<script>
import axios from "axios";
import {mapState, mapMutations} from 'vuex';
export default {
    data() {
        const now = new Date()
        const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
        // 15th in two months
        const maxDate = new Date(today)
        maxDate.setFullYear(maxDate.getFullYear() - 17)
        maxDate.setDate(maxDate.getDay())
        maxDate.setMonth(maxDate.getMonth())

        // 15th two months prior
        const minDate = new Date(today)
        minDate.setFullYear(maxDate.getFullYear() - 100)

        return {
            form: {
                name: '',
                rut: '',
                birthDate: '',
                careersSelected: ''
            },
            show: true,
            max: maxDate,
            min: minDate
        }
    },

    methods: {
        ...mapMutations(['logInUser', 'setCurrentUser']),

        async onSubmit(evt) {
            evt.preventDefault();
            // axios.post('http://localhost:8080/postulant/create',{
            //     name: this.form.name,
            //     rut: this.form.rut,
            //     birthDate: this.form.birthDate,
            //     careersSelected: '',
            // });
            
            this.setCurrentUser(this.form);
            location.href = "http://142.93.114.69/#/careers";
        },

        onReset(evt) {
            evt.preventDefault();
        }
    }
  }
</script>