<template>
    <b-list-group flush>
        <b-list-group-item>
            <b-button size="sm" block :variant="buttonVariant" @click="confirmation()" :disabled="enable" >{{buttonName}}</b-button>
        </b-list-group-item>

        <b-modal v-model="modalShow" ref="modal" title="Sistema de Postulación" @ok="handleOk" :centered="true">
            ¿Está seguro que desea postular a <b>{{currentCareer.name}}</b>?
        </b-modal>

    </b-list-group>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
    name: 'ButtonCareer',
    data(){
        return {
            modalShow: false,
            buttonName: 'Postular',
            buttonFlag: 1,
            buttonVariant: 'outline-primary',
            enable: false
        }
    },

    computed: {
        ...mapState(['currentUserLocal'])
    },

    methods: {
        ...mapMutations(['addCareer']),        

        changeButton(){
            this.buttonName = 'Cancelar'
        },

        confirmation(){            
            if(this.currentUserLocal.name == null){
                location.href = "http://142.93.114.69/#/login";
                return
            }
            this.modalShow = !this.modalShow;
        },

        handleOk(bvModalEvt){
            this.addCareer(this.currentCareer.name);
            this.buttonName = "Seleccionado"
            this.buttonVariant = "primary";
            this.enable = true;
        }
    },

    props: {
        currentCareer: Array,
        currentUser: Array
    }

}
</script>

