<template>
    <div id="app" class="p-3">
        <b-navbar id="nav" class="rounded" toggleable="lg" variant="primary" type="dark">
            <b-navbar-brand :to="{name: 'Home'}" class="ml-4">Sistema de Postulación</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            
            <b-collapse id="nav-collapse" class="mr-4" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item :to="{name: 'Careers'}">Carreras</b-nav-item>
                    <b-nav-item :to="{name: 'Applicants'}">Postulantes</b-nav-item>                    

                    <b-nav-item-dropdown  v-if="currentUserLocal.name" :text="currentUserLocal.name" right>
                        <b-dropdown-item href="#" @click="logOut">
                            <div id="drop-item">
                                Salir
                            </div>
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                    
                    <b-nav-item v-else :to="{name: 'Login'}">Registrarse</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <router-view class="mt-3"/>
    </div>  
</template>

<script>
    import {mapState, mapMutations} from 'vuex';
    export default {
        name: 'App',

        methods: {
            ...mapMutations(['logOutUser', 'setCurrentUser']),

            logOut(){
                this.logOutUser();
            }
        },

        mounted(){

        },
        
        components: {

        },

        computed: {
            ...mapState(['currentUserLocal'])   
        },

        created(){
            let userData = JSON.parse(localStorage.getItem('localCurrentUser'))
            if(userData === null){
                this.setCurrentUser({});
            }
            else{
                this.setCurrentUser(userData);
            }
        }
    }
</script>


<style>
    #nav {
        /* font-family: Avenir, Helvetica, Arial, sans-serif; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.1rem;
    }


    #nav-collapse a {
        font-size: 1.1rem;
        color: #ffffff;
    }

    #nav-collapse a.router-link-exact-active {
        font-weight: 600;

    }

    #drop-item{
        color: #000000;
    }
</style>
